body {
    background-color: black;
    margin: 0;
}
h1{
    text-align: left;
    font-size: 50px;
    color:rgb(229, 238, 238);
    font-style: oblique;
}

h4 {
    text-align: center;
    color: whitesmoke;
}

h2 {
    text-align: center;
    font-family: cursive;
}

.headerblock h3 {
    text-align: center;
    color: greenyellow;
    background-color: black;
}

.headerblock {
    background-color:black;
    background-image: url("../images/raffleballs.gif");
    justify-content: center;
}

.data {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.graphics {
    display: flex;
    flex-direction: column;
    padding-right: 150px;
    padding-left: 150px;
    background-color: rgb(119, 108, 108);
    justify-content: center;
}

.graphics img {
    width: 435px;
    height: 435px;
}

.graphics button {
    width: 100px;
}

.enter {
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.money {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    padding: 40px;
}

.submit {
width: 100px;
height: 50px;
}

.amount {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    padding: 40px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 225px;
    height: 225px;
}

form {
    background-color: thistle;
    border: black;
}

.pagebody {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: blanchedalmond;
}

#amount {
    width: 35px;
    height: 15px;
}
.caption {
    padding-bottom: 50px;
}

button {
    height: 50px;
}
p {
    text-align: center;
    font-size: 15px;
}